/*Uso de rem, unidades relativas, reseteo genérico, scroll smooth al nav
uso de variables, position fixed and relative, responsive y media query*/
/*--------------------RESET------------------------*/
@font-face{
    font-family: Eurostile;
    src: url("../assets/fonts/Eurostile.ttf");
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Eurostile;
}
/*--------------------PARA EL RESPONSIVE------------------------*/
html{
    font-size: 62.5%;
    /*1 rem = 10px*/ 
}
/*--------------------VARIABLES------------------------*/
:root{
    --alto-del-navbar: 7vh;
    --alto-primer-seccion: 93vh;
    --alto-segunda-seccion: 93vh;
    --alto-tercer-seccion: 93vh;
    --alto-cuarta-seccion: 93vh;
    --alto-quinta-seccion: 93vh;
    --top-de-las-secciones: 7vh;
}
/*--------------MAQUETADO PRINCIPAL---------------------*/
.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    background-color: gray;
}
nav{
    height: var(--alto-del-navbar);
    background-image: linear-gradient(rgba(77,57,81,1),rgba(92,61,135,1));
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 2;
}
nav a{
    font-size: 1.9rem;
    font-weight: bold;
    background: -webkit-linear-gradient(rgba(248,248,248,1),rgba(248,248,248,0));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2rem;
    transition: opacity 0.25s;
}
nav a:hover{
    opacity: 0.7;
}
.navigation1{
    height:var(--alto-primer-seccion);
    background-image: url("../img/intro-sin-texto.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: var(--top-de-las-secciones);
}
.navigation2{
    height:var(--alto-segunda-seccion);
    background-image: url("../img/fondo\ \(20\).jpg");
    background-size: cover;
    position: relative;
    top: var(--top-de-las-secciones);
}
.navigation3{
    height:var(--alto-tercer-seccion);
    background-image: url("../img/fondo\ \(4\).jpg");
    background-size: cover;
    position: relative;
    top: var(--top-de-las-secciones);
}
.navigation4{
    height:var(--alto-cuarta-seccion);
    background-image: url("../img/fondo\ \(7\).jpg");
    background-size: cover;
    position: relative;
    top: var(--top-de-las-secciones);
}
.navigation5{
    height:var(--alto-quinta-seccion);
    background-image: url("../img/fondo\ \(21\).jpg");
    background-size: cover;
    position: relative;
    top: var(--top-de-las-secciones);
}
/*---------------RESPONSIVE DESKTOP----------------------*/
@media (max-width: 1280px){
    :root{
        --alto-del-navbar: 10vh;
        --alto-primer-seccion: 90vh;
        --alto-segunda-seccion: 90vh;
        --alto-tercer-seccion: 90vh;
        --alto-cuarta-seccion: 90vh;
        --alto-quinta-seccion: 90vh;
        --top-de-las-secciones: 10vh;
    }
    /*Pagina en blanco para diseño de botones*/
    .pagina-blanca{
        height: 90vh;
        position: relative;
        top: 10vh;
        background-color: gainsboro;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
/*----------------RESPONSIVE MOBILE------------------*/
@media (max-width: 680px){
    nav{
        flex-wrap: wrap;
    }
    .pagina-blanca{
        justify-content: flex-end;
    }  
}
/* Poner flex wrap al nav en el mobile en el responsive*/
/*--------------------PRIMERA SECCIÓN------------------------*/
.rectangulo-logo{
    background-image: url("../img/svg/rectangulo-triangulo-logo.svg");
    background-size: cover;
    align-self: flex-end;
    margin-bottom: 1%;
}
.logosfv{
    width: 50%;
}
.rectangulo-texto{
    background-image: url("../img/svg/rectangulo-triangulo-texto.svg");
    background-size: cover;
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.rectangulo-texto h2{
    font-size: 5vw;
    color: beige;
    margin: auto;
    position: relative;
    left: 5vw;
}
/*--------------------BOTONES------------------------*/
/*Pagina en blanco para diseño de botones*/
.pagina-blanca{
    height: 93vh;
    position: relative;
    top: 7vh;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/*--------------------------------------------------*/
/* El after y el before son dos pseudoclases 
    que insertan en el html en este caso dos elementos de linea
    con el content: "" (texto) y el content: url() 
    (que seria el <img>), ambos elementos serían
    hijos de pina-debil, un elemento mostrado antes y uno 
    despues. Al poner display:flex convierto a todos
    los hijos que eran de tipo linea en bloques*/
/*--------------------------------------------------*/
:root{
    --color-botones-debiles: rgb(0, 0, 202);
    --color-botones-medios: rgb(206, 206, 0);
    --color-botones-fuertes: rgb(190, 0, 0);
    --color-botones-letra: black;
    --ancho-botones: 5.625rem;
    --alto-botones: 2.8125rem;
    --fontsize-botones: 2.25rem;
}
.golpe-debil{
    width: var(--ancho-botones);
    height: var(--alto-botones);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-botones-debiles);
    border-radius: 30%;
    border-style: solid;
}
.golpe-debil::before{
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/icon/command-buttons/punch.gif") no-repeat;
    background-position: center;
    background-size: cover;
}
.golpe-debil::after{
    width: 100%;
    height: 100%;
    content: "L";
    color: var(--color-botones-letra);
    font-size: var(--fontsize-botones);
    font-weight: bold;
    background-color: var(--color-botones-debiles);
    text-align: center;
    border-radius: 35%;
}
.golpe-medio{
    width: var(--ancho-botones);
    height: var(--alto-botones);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-botones-medios);
    border-radius: 30%;
    border-style: solid;
}
.golpe-medio::before{
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/icon/command-buttons/punch.gif") no-repeat;
    background-position: center;
    background-size: cover;
}
.golpe-medio::after{
    width: 100%;
    height: 100%;
    content: "M";
    color: var(--color-botones-letra);
    font-size: var(--fontsize-botones);
    font-weight: bold;
    background-color: var(--color-botones-medios);
    text-align: center;
    border-radius: 35%;
}
.golpe-fuerte{
    width: var(--ancho-botones);
    height: var(--alto-botones);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-botones-fuertes);
    border-radius: 30%;
    border-style: solid;
}
.golpe-fuerte::before{
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/icon/command-buttons/punch.gif") no-repeat;
    background-position: center;
    background-size: cover;
}
.golpe-fuerte::after{
    width: 100%;
    height: 100%;
    content: "H";
    color: var(--color-botones-letra);
    font-size: var(--fontsize-botones);
    font-weight: bold;
    background-color: var(--color-botones-fuertes);
    text-align: center;
    border-radius: 35%;
}
.patada-debil{
    width: var(--ancho-botones);
    height: var(--alto-botones);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-botones-debiles);
    border-radius: 30%;
    border-style: solid;
}
.patada-debil::before{
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/icon/command-buttons/kick.gif") no-repeat;
    background-position: center;
    background-size: cover;
}
.patada-debil::after{
    width: 100%;
    height: 100%;
    content: "L";
    color: var(--color-botones-letra);
    font-size: var(--fontsize-botones);
    font-weight: bold;
    background-color: var(--color-botones-debiles);
    text-align: center;
    border-radius: 35%;
}
.patada-media{
    width: var(--ancho-botones);
    height: var(--alto-botones);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-botones-medios);
    border-radius: 30%;
    border-style: solid;
}
.patada-media::before{
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/icon/command-buttons/kick.gif") no-repeat;
    background-position: center;
    background-size: cover;
}
.patada-media::after{
    width: 100%;
    height: 100%;
    content: "M";
    color: var(--color-botones-letra);
    font-size: var(--fontsize-botones);
    font-weight: bold;
    background-color: var(--color-botones-medios);
    text-align: center;
    border-radius: 35%;
}
.patada-fuerte{
    width: var(--ancho-botones);
    height: var(--alto-botones);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-botones-fuertes);
    border-radius: 30%;
    border-style: solid;
}
.patada-fuerte::before{
    width: 100%;
    height: 100%;
    content: "";
    background: url("../img/icon/command-buttons/kick.gif") no-repeat;
    background-position: center;
    background-size: cover;
}
.patada-fuerte::after{
    width: 100%;
    height: 100%;
    content: "H";
    color: var(--color-botones-letra);
    font-size: var(--fontsize-botones);
    font-weight: bold;
    background-color: var(--color-botones-fuertes);
    text-align: center;
    border-radius: 35%;
}
/*---------------MOVELIST----------------------*/
.navigation3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.movelist-y-portrait{
    width: 97%;
    border: 0.3rem solid black;
    background-color: whitesmoke;
}
.portrait{
    height: 15.75rem;
    background: url("../img/icon/command-buttons/movelist-juri.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.portrait h2{
    color: white;
    font-size: 3.75rem;
    padding: 0.75rem;
}
.movelist-entero{
    display: flex;
    
}
.tipo-movimiento{
    width: 100%;
}
.tipo-movimiento h2{
    font-size: 1.875rem;
    text-align: center;
    background-color: gray;
    color: white;
}
.agarres-normales-ca h2{
    background-color: blue;
}
.v-system h2{
    background-color: orange;
}
.unicos-especiales h2{
    background-color: darkred;
}
.movimiento-y-comandos{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.movimiento{
    width: 33%;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.movimiento img{
    width: 2.775rem;
}
.movimiento h3{
    width: 100%;
    text-align: center;
}
.movimiento div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.comandos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.comandos p{
    text-align: justify;
    padding: 0rem 0.5rem 0rem 0.5rem;
}
.comandos img{
    display: block;
    background-color: transparent;
    width: 3.75rem;
}
/*---------------RESPONSIVE DESKTOP----------------------*/
@media (max-width: 1400px){
    .movelist-entero{
        flex-wrap: wrap;
    }
    /*Por defecto todos los navigation tienen un z index igual,
    por lo que si el contenido supera el navigation el navigation
    que le sigue lo va a tapar*/
    .navigation3{
        z-index: 1;
    }
}
@media (max-width: 480px){
    body{
        background-color: magenta;
    }
}






